#services-page{
    height: 100vh;
	padding-top:10vh;
   position: relative;
}

.data-container{
	background-color:#1e56e6;
	width:100%;
	height:15vh;
	position:absolute;
	bottom:0;
	color:#FFF;
	font-weight:bolder;
	display:grid;
	grid-template-columns:repeat(4 , 1fr);
	font-size: 1.5rem;
	justify-items:center;
	align-items:center;
	
	
}

.stat-name{
	font-size:1.2rem;
}

.stat{
	position:relative;
}

.icon{
	position:absolute;
	height:50px;
	width:45px;
	top:10px;
	left:-60px;
	
}




.services-list{
		padding-top:5%;
		display:grid;
		grid-template-columns:repeat(4 , 1fr);
		grid-row-gap:15%;
		justify-items:center;
}


.service-list-card{

	display:grid;
	justify-items:center;
	color:#1e56e6;
	font-weight:bold;
	font-size:0.8rem;
	width:50%;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius:10px;
	padding:10px;
	position:relative;
	
}

.service_icon{
	
	width:75px;
	height:75px;
	
}


.service-description-container{
visibility:hidden;
position:absolute;
left:0;
background-color:#1e56e6;
color:#FFFFFF;
width:100%;
height:100%;
box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
border-radius:10px;
padding:10px;
font-weight:bold;
}


.service-description{
		font-size:0.5rem;
}

.service-list-card:hover .service-description-container{
	visibility:visible;
	
	

}

@media(max-width:1350px){
	.service-list-card{
	width:80%;
}

@media(max-width:950px){
	
	.data-container{
	height: auto;
	grid-template-columns:repeat(2 , 1fr);
	grid-row-gap:50px;
	padding: 10px;
	}
	
	.stat{
	width:50%;
}

.service-description{
		font-size:0.4rem;
}

#services-page{}
	
}


@media(max-width:700px){
	
	.services-list{

		grid-template-columns:repeat(2 , 1fr);

}

#services-page{
	height:auto;
	position:static;
}

.data-container{
	position:relative;
	margin-top: 25px;
}

.services-list{
	grid-row-gap: 0;
}

}

@media(max-width:600px){
	


	.data-container{
	padding: 10px;
	grid-template-columns:repeat(1 , 1fr);
	
	
}

	.stat{
	width:35%;
	grid-row-gap:50px;
}
    
}

@media(max-width:400px){
		.services-list{

		grid-template-columns:repeat(1 , 1fr);

}
}
    


